<div>

    <template v-if="isSelect">
        
    </template>
    <template v-else>
        <li class="list-group-item">
            <span class="indent" :style="{marginLeft: level + 'px', marginRight: level + 'px'}"></span>
            <span @click="toggle" v-if="hasChildren" class="fa fa-fw fa-{{open ? 'minus' : 'plus'}}" style="cursor: pointer"></span>
            <span @click="toggle" v-if="!hasChildren" class="fa fa-fw"></span>
            
            <template v-if="model.account.type == 'CC'">
                <span class="fa fa-home fa-credit-card"></span>
            </template>
            <template v-if="model.account.type == 'EXP'">
                <span class="fa fa-home fa-shopping-cart"></span>
            </template>
            <template v-if="model.account.type == 'LIA'">
                <span class="fa fa-home fa-flash"></span>
            </template>
            <template v-if="model.account.type == 'INC'">
                <span class="fa fa-home fa-money"></span>
            </template>
            <template v-if="model.account.type == 'ASSET'">
                <span class="fa fa-home fa-home"></span>
            </template>
            <template v-if="model.account.type == 'BANK'">
                <span class="fa fa-home fa-bank"></span>
            </template>
            <template v-if="model.account.type == 'CASH'">
                <span class="fa fa-home fa-briefcase"></span>
            </template>
            <template v-if="model.account.type == 'EQ'">
                <span class="fa fa-home fa-balance-scale"></span>
            </template>
            <template v-if="model.account.name == 'Accounts'">
                <span class="fa fa-home fa-book"></span>
            </template>
            
            <template v-if="root">
                {{model.account.name}} / {{model.account.path}}
                <button @click.prevent="addAccount(model.account)" class="btn btn-default btn-xs" style="display:inline-block; position: absolute; right: 40px;">
                    <span class="glyphicon glyphicon-plus" style="color:#007acc"></span>
                </button>
            </template>
            <template v-else>
                <a @click.prevent="viewAccount(model.account)" href="">{{model.account.name}} / {{model.account.path}}</a>
                <button @click.prevent="openTransactions(model.account)" class="btn btn-default btn-xs" style="display:inline-block; position: absolute; right: 70px;">
                    <span class="glyphicon glyphicon-calendar" style="color:#007a00"></span>
                </button>
                <button @click.prevent="addAccount(model.account)" class="btn btn-default btn-xs" style="display:inline-block; position: absolute; right: 40px;">
                    <span class="glyphicon glyphicon-plus" style="color:#007acc"></span>
                </button>
                <button @click.prevent="deleteAccount(model.account)" class="btn btn-default btn-xs" style="display:inline-block; position: absolute; right: 10px;">
                    <span class="glyphicon glyphicon-remove" style="color:#7a0000"></span>
                </button>
            </template>      
        </li>

        <div v-show="open" v-if="hasChildren">
            <comp-4yb-account-tree-item v-for="model in model.children" :model="model" :root="false" :open="false" :level="level + 10">
            </comp-4yb-account-tree-item>
        </div>
    </template>

</div>