<h2>{{title}} / (Current Path: {{currentPath}})</h2>

<form method="post" action="/" id="account">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="account-name">Account Name</label>
                <input type="text" class="form-control" id="account-name" v-model="account.name" placeholder="Account Name">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="account-code">Code</label>
                <input type="text" class="form-control" id="account-code" v-model="account.code" placeholder="Account Code">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">Account Type</label>
                <select class="form-control" v-model="account.type" id="type" name="type">
                    <option value="BANK">Bank</option>
                    <option value="ASSET">Asset</option>
                    <option value="CASH">Cash</option>
                    <option value="CC">Credit Card</option>
                    <option value="EXP">Expense</option>
                    <option value="INC">Income</option>
                    <option value="LIA">Liabilities</option>
                    <option value="EQ">Equity</option>
                </select> 
            </div> 
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="parent">Parent Account</label>
                <select class="form-control" v-model="account.parent" id="parent" name="parent">
                    <option value="a">Root</option>
                    <option v-for="option in accounts" :value="option.path">
                        {{ option.name }}
                    </option>
                </select>
            </div> 
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="account-desc" class="field-label">Account description</label>
                <textarea v-model="account.description" rows="4" class="form-control" name="account-desc" id="account-desc" placeholder="Enter account description"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-control">
                <label>
                    <input v-model="account.active" type="checkbox" value="">
                    Active
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-control">
                <label>
                    <input v-model="account.placeholder" type="checkbox" value="">
                    Placeholder
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-control">
                <label>
                    <input v-model="account.hidden" type="checkbox" value="">
                    Hidden
                </label>
            </div>
        </div>                    
    </div>
    <div class="row">
        <div class="col-md-2">
            <br />
            <button @click.prevent="updateAccount" type="submit" class="btn btn-primary">Save Account</button>
        </div>
    </div>
</form>