<h2>{{title}}</h2>

<hr />
<button @click.prevent="changeView('comp4ybFormAccount', reset = true)" type="button" class="btn btn-primary">New Account</button>
<hr />

<!--
{{treeData | json}}
-->

<template v-if="treeData.children.length">
    <div class="row">
        <div class="col-sm-8">
            <div class="treeview">
                <ul id="accounts" class="list-group">
                    <item class="item" :model="treeData" :open="true" :root="true" :level="0">
                    </item>
                </ul>
            </div>
        </div>
    </div>
</template>
<template v-else>
    <p>No account has been created yet. Would you like to create one?</p>
</template>