<h2>{{title}}</h2>

<hr />
<button @click.prevent="changeView('comp4ybFormAccount')" type="button" class="btn btn-primary">New Account</button>
<hr />

<template v-if="accounts.length">
    <ul id="accounts">
        <li v-for="(index, account) in accounts">
        {{index + 1}}. 
        <a @click.prevent="viewAccount(account)" href="">{{account.name}}</a> | 
        [<a @click.prevent="deleteAccount(account)" href="">remove</a>]
        </li>
    </ul>
</template>
<template v-else>
    <p>No account has been created yet. Would you like to create one?</p>
</template>