{{title}}

<table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{active: sortKey == key}">
          {{ key | camelCase }}
          <span class="arrow"
            :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
        <td v-for="key in columns">
          <template v-if="key.indexOf('date') > -1">
                {{ entry[key] | formatDate }}
          </template>
          <template v-else>
                <template v-if="key == 'credit' || key == 'debit'">
                    {{ entry[key] | currency }}
                </template>
                <template v-else>
                    {{ entry[key] }}
                </template>
          </template>
        </td>
      </tr>
    </tbody>
</table>

Total Credit: {{totalCredit | currency}}<br />
Total Debit: {{totalDebit | currency}}<br />