<h2>{{title}} - {{currentAccount.name}}</h2>

<div id="transactions">
    
    <div class="container-fluid">
        <div class="row">
            
            <comp-4yb-transactions-grid
                title=""
                :data="gridData"
                :columns="gridColumns"
                :filter-key="searchQuery">
            </comp-4yb-transactions-grid>  
        </div>
        
        <!--div class="row">
            <template v-if="gridData.length > 0">
                <form id="search">
                    Search <input name="query" v-model="searchQuery">
                </form>
            </template>
        </div-->
   
</div>