<div id="sidebar-wrapper">
    <template v-if="links.length > 0">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li v-for="link in links">
                <a @click.prevent="changeView(link.view)"  href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-{{link.icon}} fa-stack-1x "></i></span> {{link.name}}</a>
            </li>

            <!--li class="active">
                <a @click.prevent="changeView('comp4ybDashboard')"  href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp4ybListAccounts')"  href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-book fa-stack-1x "></i></span> Accounts</a>
            </li>
            <li>
                <a href="account.html"><span class="fa-stack fa-lg pull-left"><i class="fa fa-book fa-stack-1x "></i></span> Add an account</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp4ybGraphMain')" href=""><span class="fa-stack fa-lg pull-left"><i class="fa fa-area-chart fa-stack-1x "></i></span>Charts</a>
            </li-->
            <li>
                <a href="grid.html"><span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x "></i></span> Grid Example</a>
            </li>
            <li>
                <a href="list-tree.html"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tree fa-stack-1x "></i></span>List Tree Example</a>
            </li> 
            <li>
                <a @click.prevent="changeView('comp1')" href=""><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 1</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp2')" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 2</a>
            </li>
            <li>
                <a @click.prevent="changeView('comp3')" href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Test Link 3</a>
            </li>  
        </ul>
    </template>
    <template v-else>
        Menu is empty.
    </template>
</div><!-- /#sidebar-wrapper -->